@model IEnumerable<Category>

@{
    ViewBag.Title = "Category Table";
}

<form>
    <div class="input-group mt-3 mb-3">
        <input id="searchTxt" name="Search" class="form-control mr-1" placeholder="Search..." />
        <div class="input-group-append">
            <button type="button" id="searchBtn" class="btn btn-primary">Search</button>
            <button type="button" id="newCategoryBtn" class="btn btn-primary">New</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Products</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Products.Count</td>
                <td>
                    <button class="editCategoryBtn" data-id="@category.Id">Edit</button>
                    <button class="deleteCategoryBtn" data-id="@category.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Category/CategoryTable',
            data: {
                search: searchValue
            },
            type: 'Get',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            debugger;
        })
        .fail(function () {
            alert("Fail");
        })
    });
</script>