
@{
    ViewBag.Title = "Create";

    var imageUrl = "/Content/Images/default.jpg";
}

<h2>Create Category</h2>

<form id="createCategoryForm">
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="form-group">
                <label>Name</label>
                <input name="name" class="form-control" placeholder="Category name..." />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input name="Description" class="form-control" placeholder="Description..." />
            </div>

            <div class="form-group">
                <label>Image</label>
                <input id="selectImage" class="form-control" name="Image" type="file" accept=".png, .jpg" />
                <input id="imageUrl" type="hidden" name="ImageUrl" />

            </div>

            <div class="form-group">
                <label>Is featured ?</label>
                <div class="input-group">
                    <div class="radio form-control">
                        <label><input type="radio" name="IsFeatured" value="true" /> True</label>
                    </div>
                    <div class="radio form-control">
                        <label><input type="radio" name="IsFeatured" value="false" /> False</label>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
        </div>

        <div class="col-md-4">
            <div class="thumb">
                <img id="categoryImage" class="img-thumbnail img-fluid" src="@imageUrl" />
            </div>
        </div>
    </div>
</form>

<script>
    $("#selectImage").change(function () {
        var element = this;

        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Picture", file);
        }

        $.ajax({
            type: 'Post',
            url: '/Shared/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
        .done(function (response) {
            if (response.success) {
                $("#categoryImage").attr("src", response.imageURL);
                $("#imageUrl").val(response.imageURL);
            }
        })
        .fail(function () {
            alert("Fail");
        })
    })

    $("#saveBtn").click(function () {
        $.ajax({
            url: '/Category/Create',
            data: $("#createCategoryForm").serialize(),
            type: 'Post',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            $("#actionContainer").empty();
            focusTable();
        })
        .fail(function () {
            alert("Fail");
        })
    });

    function focusTable() {
        $('html, body').animate({
            scrollTop: $("#tableContainer").offset().top - 100
        }, 700);
    }
</script>