
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form method="post">
    <label>Name</label>
    <input name="name" />


    <br />

    <label>Description</label>
    <input name="description" />

    <br />

    <label>Image</label>
    <input id="selectImage" name="Image" type="file" accept=".png, .jpg"/>
    <input id="imageUrl" type="hidden" name="ImageUrl" />

    <div class="thumb">
        <img id="categoryImage" style="width:400px;" src="" />
    </div>
    <br />

    <label>Is featured ?</label>
    <input type="radio" name="IsFeatured" value="true"/>True
    <input type="radio" name="IsFeatured" value="false"/>False

    <br />

    <button type="submit">Save</button>

</form>

<script>
    $("#selectImage").change(function () {
        var element = this;

        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Picture", file);
        }

        $.ajax({
            type: 'Post',
            url: '/Shared/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
        .done(function (response) {
            if (response.success) {
                $("#categoryImage").attr("src", response.imageURL);
                $("#imageUrl").val(response.imageURL);
            }
        })
        .fail(function () {
            alert("Fail");
        })
    })
</script>