@model eCom.Entities.Category

@{
    ViewBag.Title = "Edit";
    
    var trueChecked = Model.IsFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.IsFeatured ? "checked" : string.Empty;
}

<h2>Edit</h2>

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <label>Name</label>
    <input name="name" value="@Model.Name" />

    <br />

    <label>Description</label>
    <input name="description" value="@Model.Description" />

    <br />


    <label>Is featured ?</label>
    <input type="radio" name="IsFeatured" value="true" @trueChecked/>True
    <input type="radio" name="IsFeatured" value="false" @falseChecked/>False

    <br />

    <button type="submit">Submit</button>

</form>