
@{
    ViewBag.Title = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<div class="container">

    <div class="col-md-12 mt-3">
        <div class="title-section">
            <h2 class="title">
                Categories
            </h2>
        </div>
    </div>
   
    <div id="tableContainer">
        @{
            Html.RenderAction("CategoryTable", "Category");
        }
    </div>

    <hr />

    <div id="actionContainer">

    </div>
</div>
