
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("CategoryTable", "Category");
        }
    </div>

    <hr />

    <div id="actionContainer">

    </div>
</div>
