@{
    ViewBag.Title = "Contact";
}

<div class="page-title contact" style="background-position: 50% -11px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title"></h1>
                </div><!-- /.page-title-heading -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<section class="flat-row flat-iconbox mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Get In Touch
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-4">
                <div class="iconbox text-center">
                    <div class="box-header nomargin">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-content">
                        <p>@ConfigurationService.Instance.GetConfig("CompanyAddress").Value</p>
                    </div><!-- /.box-content -->
                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="divider h0"></div>
                <div class="iconbox text-center">
                    <div class="box-header">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-content">
                        <p>@ConfigurationService.Instance.GetConfig("CompanyPhone").Value</p>
                    </div><!-- /.box-content -->
                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="divider h0"></div>
                <div class="iconbox text-center">
                    <div class="box-header">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-content">
                        <p>@ConfigurationService.Instance.GetConfig("Mail").Value</p>
                    </div><!-- /.box-content -->
                </div><!-- /.iconbox -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>