
@{
    ViewBag.Title = "FAQ";
}

<div class="page-title FAQ" style="background-position: 50% -11px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title text-primary"></h1>
                </div><!-- /.page-title-heading -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>Cart &amp; Wishlist</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What is cart ?
                        </div>
                        <div class="toggle-content" style="display: none;">
                            <p>
                                Cart is like a bag to save products that you want to buy in it,
                                then after you took the decision to buy these products you can make place order to create new order.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: For how much time my cart still holding my products ?
                        </div>
                        <div class="toggle-content" style="display: none;">
                            <p>
                                Your cart still holding your products for 1 day, after that day the cart will be empty autamatically.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: What is the difference between cart and wishlist ?
                        </div>
                        <div class="toggle-content" style="display: none;">
                            <p>
                                Cart is a bag for holding your products that you are going to buy, but wishlist is a bag for holding your products that you like and you want to save before wasting them.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: If I changed my personal information in my cart, Is that affect my order information ?
                        </div>
                        <div class="toggle-content" style="display: none;">
                            <p>
                                Yes, your past, and future orders will change. 
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>Tracking Your Order</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: When will my order recieve to me ?
                        </div>
                        <div class="toggle-content" style="display: none;">
                            <p>
                                After 5 days from placing your order.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: How can I pay for my order ?
                        </div>
                        <div class="toggle-content" style="display: none;">
                            <p>
                                Untill now payment is just cash. 
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Q: If I have any issue with my order shipment, what can I do ?
                        </div>
                        <div class="toggle-content" style="display: none;">
                            <p>
                                If u placed order and not comming for you after 5 days, you can send mail for checking your order progress BilaQ@@mailinator.com
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>