@model IEnumerable<Category>

@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>


<form id="createProductForm">
    <div class="form-group">
        <label>Category</label>
        <select name="CategoryId" class="form-control">
            @foreach (var category in Model)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" placeholder="Product name..." />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input name="Description" class="form-control" placeholder="Description..." />
    </div>

    <div class="form-group">
        <label>Price</label>
        <input type="number" name="Price" class="form-control" placeholder="Price..." />
    </div>

    <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
</form>


<script>
    $("#saveBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
            data: $("#createProductForm").serialize(),
            type: 'Post',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            $("#actionContainer").empty();
        })
        .fail(function () {
            alert("Fail");
        })
    });
</script>