@model eCom.Web.ViewModels.NewProductViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>


<form id="createProductForm">
    <div class="form-group">
        <label>Category</label>
        <select name="CategoryId" class="form-control">
            @foreach (var category in Model.AvailableCategories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" placeholder="Product name..." />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input name="Description" class="form-control" placeholder="Description..." />
    </div>

    <div class="form-group">
        <label>Price</label>
        <input type="number" name="Price" class="form-control" placeholder="Price..." />
    </div>

    <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
    <button type="button" class="btn btn-primary" id="cancelBtn">Cancel</button>

</form>


<script>
    $("#saveBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Create","Product")',
            data: $("#createProductForm").serialize(),
            type: 'Post',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            $("#actionContainer").empty();
            focusElement("tableContainer");
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").empty();
        focusElement("tableContainer");
    })
</script>