@model IEnumerable<Category>

@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProductForm">
    <label>Category</label>
    <select name="CategoryId">
        @foreach (var category in Model)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <br />

    <label>Name</label>
    <input name="name" />

    <br />

    <label>Description</label>
    <input name="description" />

    <br />

    <label>Price</label>
    <input name="Price" />

    <br />

    <button type="button" id="saveBtn">Save</button>

</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
            data: $("#createProductForm").serialize(),
            type: 'Post',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
            $("#actionContainer").empty();
        })
        .fail(function () {
            alert("Fail");
        })
    });
</script>