
@{
    ViewBag.Title = "Products";
}

<div class="container">

    <div class="col-md-12 mt-3">
        <div class="title-section">
            <h2 class="title">
                Products
            </h2>
        </div>
    </div>

    <div id="tableContainer">
        @{
            Html.RenderAction("ProductTable");
        }
    </div>
    <hr />
    <div id="actionContainer">

    </div>
</div>

