@model IEnumerable<Product>

@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post" action="/Product/ProductTable">
        <input id="searchTxt" name="Search" />
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button type="button" id="newBtn">New</button>

</div>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>-</td>
                <td>@product.Price</td>
                <td>
                    <button class="editBtn" data-id="@product.Id">Edit</button>
                    <button class="deleteBtn" data-id="@product.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            },
            type: 'Get',
        })
        .done(function (result) {
            $("#tableContainer").html(result);
        })
        .fail(function () {
            alert("Fail");
        })
    });

    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
        .done(function (result) {
            $("#actionContainer").html(result);
        })
        .fail(function () {
            alert("Fail");
        })
    })

    $(".editBtn").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: '/Product/Edit/' + id ,
        })
        .done(function (result) {
            $("#actionContainer").html(result);
        })
        .fail(function () {
            alert("Fail");
        })
    })

    $(".deleteBtn").click(function () {
        var id = $(this).attr("data-id");

        var confirmDelete = confirm("Are you sure. you wanna delete this product?");

        if (confirmDelete) {
            $.ajax({
                url: '/Product/Delete/' + id,
                type: 'Post'
            })
             .done(function (result) {
                 $("#tableContainer").html(result);
             })
             .fail(function () {
                 alert("Fail");
             })
        }
    })
</script>