@{
    ViewBag.title = "Orders";
}

<div class="page-title orders">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Trace Orders</h1>
                </div><!-- /.page-title-heading -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<div id="orderPlacedDiv">

    @{
        Html.RenderAction("_OrderPlaced");
    }

</div>